In [ ]:
import numpy as np
import pandas as pd

In [190]:
filenames=['test.csv']

In [104]:
users=[]
for filename in filenames:
    username = re.match(r"(.+)_(.+).csv", filename).groups()[1]
    users.append(username)
print 'USERNAMES:', users

USERNAMES: ['behminyan', 'changsheng', 'jerots']

In [191]:
def extractDurations(table):
    letters=input.letter
    DTs=input.DT
    UTs=input.UT

    HDlist=[]
    UDDlist=[]

    for i in range(len(input)):
        holddur=UTs[i]-DTs[i]
        HDlist.append(holddur)

        if(i< len(input)-1):
            updowndur=DTs[i+1]-UTs[i]
            UDDlist.append(updowndur)
        else:
            UDDlist.append(0)

    return letters, HDlist, UDDlist

In [193]:
users=[]
df_rows = []

for filename in filenames:

    input = pd.read_csv(filename)
    letters, HDlist, UDDlist = extractDurations(input)
    
    username='behminyan'
#     username = re.match(r"(.+)_(.+).csv", filename).groups()[1]

    userrow={}
    userrow['users'] = username
    for i in range(len(letters)):
        userrow['hd'+str(i)+'_'+letters[i]]=HDlist[i]
        userrow['udd'+str(i)+'_'+letters[i]]=UDDlist[i]
    df_rows.append(userrow)
    users.append(username)

combined = pd.DataFrame(df_rows,columns=cols)
combined

print 'USERNAMES:', users

USERNAMES: ['behminyan']

In [194]:
combined

,users,hd0_b,udd0_b,hd1_e,udd1_e,hd2_h,udd2_h,hd3_m,udd3_m,hd4_i,udd4_i,hd5_n,udd5_n,hd6_y,udd6_y,hd7_a,udd7_a,hd8_n,udd8_n
0,behminyan,200,-32,200,-33,200,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
len(users)

3

In [135]:
print cols

['users', 'hd0_b', 'udd0_b', 'hd1_e', 'udd1_e', 'hd2_h', 'udd2_h', 'hd3_m', 'udd3_m', 'hd4_i', 'udd4_i', 'hd5_n', 'udd5_n', 'hd6_y', 'udd6_y', 'hd7_a', 'udd7_a', 'hd8_n', 'udd8_n']

In [112]:
df_rows

[{'hd0_b': 123,
  'hd1_e': 132,
  'hd2_h': 123,
  'hd3_m': 132,
  'hd4_i': 123,
  'hd5_n': 132,
  'hd6_y': 123,
  'hd7_a': 132,
  'hd8_n': 123,
  'udd0_b': 100,
  'udd1_e': 200,
  'udd2_h': 300,
  'udd3_m': 100,
  'udd4_i': 200,
  'udd5_n': 300,
  'udd6_y': 100,
  'udd7_a': 200,
  'udd8_n': 0,
  'users': 'behminyan'},
 {'hd0_b': 123,
  'hd1_e': 132,
  'hd2_h': 123,
  'hd3_m': 132,
  'hd4_i': 123,
  'hd5_n': 132,
  'hd6_y': 123,
  'hd7_a': 132,
  'hd8_n': 123,
  'udd0_b': 100,
  'udd1_e': 200,
  'udd2_h': 300,
  'udd3_m': 100,
  'udd4_i': 200,
  'udd5_n': 300,
  'udd6_y': 100,
  'udd7_a': 200,
  'udd8_n': 0,
  'users': 'changsheng'},
 {'hd0_b': 123,
  'hd1_e': 132,
  'hd2_h': 123,
  'hd3_m': 132,
  'hd4_i': 123,
  'hd5_n': 132,
  'hd6_y': 123,
  'hd7_a': 132,
  'hd8_n': 123,
  'udd0_b': 100,
  'udd1_e': 200,
  'udd2_h': 300,
  'udd3_m': 100,
  'udd4_i': 200,
  'udd5_n': 300,
  'udd6_y': 100,
  'udd7_a': 200,
  'udd8_n': 0,
  'users': 'jerots'}]

In [63]:
proc=pd.DataFrame(columns=['letter','HD','UDD'])
proc.letter=letters
proc.HD=HDlist
proc.UDD=UDDlist

proc.head()

  letter   HD  UDD
0      b  123  100
1      e  132  200
2      h  123  300
3      m  132  100
4      i  123  200

In [92]:
cols=['users','hd0_b', 'udd0_b', 'hd1_e', 'udd1_e', 'hd2_h', 'udd2_h', 'hd3_m', 'udd3_m', 'hd4_i', 'udd4_i', 'hd5_n', 'udd5_n', 'hd6_y', 'udd6_y', 'hd7_a', 'udd7_a', 'hd8_n', 'udd8_n']
print cols

['users', 'hd0_b', 'udd0_b', 'hd1_e', 'udd1_e', 'hd2_h', 'udd2_h', 'hd3_m', 'udd3_m', 'hd4_i', 'udd4_i', 'hd5_n', 'udd5_n', 'hd6_y', 'udd6_y', 'hd7_a', 'udd7_a', 'hd8_n', 'udd8_n']

In [66]:
typedata = {}

typedata['users']=[]
for i in range(len(letters)):
    typedata['hd'+str(i)+'_'+letters[i]]=[]
    typedata['udd'+str(i)+'_'+letters[i]]=[]

In [81]:
cols = []
for i in range(len(letters)):
    cols.append('hd'+str(i)+'_'+letters[i])
    cols.append('udd'+str(i)+'_'+letters[i])
print cols

coldict={}
for i in range(len(cols)):
    coldict[cols[i]]=[]
print coldict

['users', 'hd0_b', 'udd0_b', 'hd1_e', 'udd1_e', 'hd2_h', 'udd2_h', 'hd3_m', 'udd3_m', 'hd4_i', 'udd4_i', 'hd5_n', 'udd5_n', 'hd6_y', 'udd6_y', 'hd7_a', 'udd7_a', 'hd8_n', 'udd8_n']
{'udd8_n': [], 'hd7_a': [], 'users': [], 'udd2_h': [], 'hd2_h': [], 'udd5_n': [], 'udd7_a': [], 'hd1_e': [], 'hd4_i': [], 'udd0_b': [], 'udd6_y': [], 'udd4_i': [], 'hd3_m': [], 'hd6_y': [], 'udd3_m': [], 'udd1_e': [], 'hd8_n': [], 'hd0_b': [], 'hd5_n': []}

In [69]:
typedata

{'hd0_b': [123],
 'hd1_e': [132],
 'hd2_h': [123],
 'hd3_m': [132],
 'hd4_i': [123],
 'hd5_n': [132],
 'hd6_y': [123],
 'hd7_a': [132],
 'hd8_n': [123],
 'udd0_b': [100],
 'udd1_e': [200],
 'udd2_h': [300],
 'udd3_m': [100],
 'udd4_i': [200],
 'udd5_n': [300],
 'udd6_y': [100],
 'udd7_a': [200],
 'udd8_n': [0],
 'users': ['minyan']}

In [78]:
name='minyan'
usersdict={}

userdata=[name]
for i in range(len(letters)):
    userdata.append(HDlist[i])
    userdata.append(UDDlist[i])

usersdict[name]=userdata
print usersdict

{'minyan': ['minyan', 123, 100, 132, 200, 123, 300, 132, 100, 123, 200, 132, 300, 123, 100, 132, 200, 123, 0]}

In [80]:
result=pd.DataFrame(usersdict.items(),columns=cols)

AssertionError: 19 columns passed, passed data had 2 columns

In [15]:
stock=pd.DataFrame(columns=['letter','DT','UT'])

In [36]:
data = pd.read_csv('submit.csv')
letters=data.letter.tolist()
HDs=data.HD.tolist()
UDDs=data.UDD.tolist()
print HDs
print UDDs

[123, 132, 123, 132, 123, 132, 123, 132, 123]
[100, 200, 300, 100, 200, 300, 100, 200, 300]

In [56]:
letters=data.letter.tolist()
UTs=data.HD.tolist()
DTs=data.UDD.tolist()

cumDTs=[0]
cumUTs=[]

track=0
for i in range(len(data)):    
    track+=HDs[i]
    cumUTs.append(track)  
    if (i < len(data) - 1) :
        track+=UDDs[i]
        cumDTs.append(track)
    
print 'Down Times:', cumDTs
print 'Up Times:', cumUTs

Down Times: [0, 223, 555, 978, 1210, 1533, 1965, 2188, 2520]
Up Times: [123, 355, 678, 1110, 1333, 1665, 2088, 2320, 2643]

In [58]:
input=pd.DataFrame(columns=['letter','DT','UT'])
input.letter=letters
input.DT=cumDTs
input.UT=cumUTs
input.to_csv(path_or_buf='input.csv',index=False)

In [168]:
json=[{"y": 65.3061224489796, "x": 61.224489795918366, "letter": "b", "time": 1469800740561}, {"y": 11.131725417439704, "x": 25.510204081632654, "letter": "e", "time": 1469800740729}, {"y": 37.291280148423006, "x": 59.897959183673464, "letter": "h", "time": 1469800740896}, {"y": 89.05380333951763, "x": 63.26530612244898, "letter": "space", "time": 1469800741129}, {"y": 66.79035250463822, "x": 76.42857142857142, "letter": "m", "time": 1469800741432}, {"y": 11.688311688311687, "x": 72.95918367346938, "letter": "i", "time": 1469800741612}, {"y": 57.5139146567718, "x": 68.77551020408164, "letter": "n", "time": 1469800741846}, {"y": 89.98144712430427, "x": 65.51020408163265, "letter": "space", "time": 1469800742112}, {"y": 13.358070500927644, "x": 54.89795918367347, "letter": "y", "time": 1469800742446}, {"y": 33.209647495361786, "x": 6.122448979591836, "letter": "a", "time": 1469800742580}, {"y": 67.3469387755102, "x": 67.55102040816327, "letter": "n", "time": 1469800742796}, {"y": 92.57884972170687, "x": 89.38775510204081, "letter": "return", "time": 1469800743129}]

In [172]:
import ast

In [169]:
datacols=['time','letter','x','y']
datarows=[]
for datarow in json:
    datarows.append(datarow)
    
data = pd.DataFrame(datarows)

In [170]:
data.sort_values(by=['time'])

    letter           time          x          y
0        b  1469800740561  61.224490  65.306122
1        e  1469800740729  25.510204  11.131725
2        h  1469800740896  59.897959  37.291280
3    space  1469800741129  63.265306  89.053803
4        m  1469800741432  76.428571  66.790353
5        i  1469800741612  72.959184  11.688312
6        n  1469800741846  68.775510  57.513915
7    space  1469800742112  65.510204  89.981447
8        y  1469800742446  54.897959  13.358071
9        a  1469800742580   6.122449  33.209647
10       n  1469800742796  67.551020  67.346939
11  return  1469800743129  89.387755  92.578850

In [185]:
downtimes=dataframe.time.tolist()

In [187]:
uptimes=[]
for i in downtimes:
    uptimes.append(i+200)
dataframe['UT']=uptimes

In [189]:
dataframe['DT']=downtimes
dataframe.to_csv('test.csv', index=False)