In [16]:
import numpy as np
import pandas as pd

import ast
import glob
import re

user='changsheng'

In [17]:
# http://stackoverflow.com/ questions/3207219/how-to-list-all-files-of-a-directory-in-python
filenames=glob.glob("data/"+user+"/*.txt")
print 'FILENAMES:', filenames

FILENAMES: ['data/changsheng/behminyan_1.txt', 'data/changsheng/behminyan_10.txt', 'data/changsheng/behminyan_2.txt', 'data/changsheng/behminyan_3.txt', 'data/changsheng/behminyan_4.txt', 'data/changsheng/behminyan_5.txt', 'data/changsheng/behminyan_6.txt', 'data/changsheng/behminyan_7.txt', 'data/changsheng/behminyan_8.txt', 'data/changsheng/behminyan_9.txt', 'data/changsheng/codextreme2016_1.txt', 'data/changsheng/codextreme2016_2.txt', 'data/changsheng/codextreme2016_3.txt', 'data/changsheng/codextreme2016_4.txt', 'data/changsheng/jeremgong_1.txt', 'data/changsheng/jeremyong_1.txt', 'data/changsheng/jeremyong_2.txt']

In [18]:
for filename in filenames:
    cols=['letter','username','down_time','down_x','down_y','up_time','up_x','up_y']
    datarows=[]

    # TO IMPLEMENT: IMPOSTER AND USERNAME
    with open(filename) as f: 
        for submit in f:
            json=ast.literal_eval(submit)

            inputtext=json['text'].replace(" ", "")
            username=user
            isGenuine=username==inputtext
    #         isGenuine=!json['imposter']
            print isGenuine, ",", username, ",", inputtext


            for i in range(len(json['data'])):
                key=json['data'][i]
                datarow={}

                datarow['letter']=key['letter']
                datarow['username']=username
                datarow['down_time']=key['down']['time']
                datarow['down_x']=key['down']['x']
                datarow['down_y']=key['down']['y']
                datarow['up_time']=key['up']['time']
                datarow['up_x']=key['up']['x']
                datarow['up_y']=key['up']['y']

                datarows.append(datarow)
    df = pd.DataFrame(datarows, columns=cols)
    
    outputfile = filename[:filename.rfind('.')] + ".csv"
    df.sort_values(by=['up_time']).to_csv(path_or_buf=outputfile,index=False)

False , changsheng , behminyan
False , changsheng , behminyan
False , changsheng , behminyan
False , changsheng , behminyan
False , changsheng , behminyan
False , changsheng , behminyan
False , changsheng , behminyan
False , changsheng , behminyan
False , changsheng , behminyan
False , changsheng , behminyan
False , changsheng , codextreme2016
False , changsheng , codextreme2016
False , changsheng , codextreme2016
False , changsheng , codextreme2016
False , changsheng , jeremgong
False , changsheng , jeremyong
False , changsheng , jeremyong

In [19]:
df

,letter,username,down_time,down_x,down_y,up_time,up_x,up_y
0,j,changsheng,1469820305215,67.200000,44.174757,1469820305281,67.200000,44.174757
1,e,changsheng,1469820305332,22.400000,14.077670,1469820305414,22.400000,14.077670
2,r,changsheng,1469820305515,33.333333,22.815534,1469820305580,33.333333,22.815534
3,e,changsheng,1469820305665,21.866667,10.679612,1469820305747,21.866667,10.679612
4,m,changsheng,1469820305782,78.933333,66.504854,1469820305864,78.933333,66.504854
5,y,changsheng,1469820306032,55.200000,19.902913,1469820306115,55.200000,19.902913
6,space,changsheng,1469820306548,63.200000,78.640777,1469820306630,63.200000,78.640777
7,o,changsheng,1469820306782,85.333333,15.533981,1469820306864,82.666667,20.388350
8,n,changsheng,1469820306982,70.666667,66.019417,1469820307065,70.666667,66.019417
9,g,changsheng,1469820307115,47.200000,38.834951,1469820307197,47.200000,38.834951
10,return,changsheng,1469820307631,87.200000,83.009709,1469820307747,87.200000,83.009709

In [10]:
string='{"imposter": "false", "data": [{"down": {"y": 63.07977736549165, "x": 61.0204081632653, "time": 1469802323657}, "up": {"y": 63.07977736549165, "x": 61.0204081632653, "time": 1469802323757}, "letter": "b"}, {"down": {"y": 14.656771799628942, "x": 26.632653061224488, "time": 1469802323775}, "up": {"y": 14.656771799628942, "x": 26.632653061224488, "time": 1469802323840}, "letter": "e"}, {"down": {"y": 29.12801484230056, "x": 60.51020408163266, "time": 1469802323925}, "up": {"y": 29.12801484230056, "x": 60.51020408163266, "time": 1469802323990}, "letter": "h"}, {"down": {"y": 85.52875695732838, "x": 67.75510204081633, "time": 1469802324108}, "up": {"y": 85.34322820037106, "x": 68.57142857142857, "time": 1469802324191}, "letter": "space"}, {"down": {"y": 60.85343228200371, "x": 81.53061224489797, "time": 1469802324325}, "up": {"y": 60.85343228200371, "x": 81.53061224489797, "time": 1469802324391}, "letter": "m"}, {"down": {"y": 10.760667903525047, "x": 75.51020408163265, "time": 1469802324525}, "up": {"y": 10.760667903525047, "x": 75.51020408163265, "time": 1469802324590}, "letter": "i"}, {"down": {"y": 53.80333951762524, "x": 72.95918367346938, "time": 1469802324708}, "up": {"y": 53.80333951762524, "x": 72.95918367346938, "time": 1469802324757}, "letter": "n"}, {"down": {"y": 79.96289424860854, "x": 67.3469387755102, "time": 1469802324875}, "up": {"y": 79.96289424860854, "x": 67.3469387755102, "time": 1469802324940}, "letter": "space"}, {"down": {"y": 11.50278293135436, "x": 58.77551020408164, "time": 1469802325092}, "up": {"y": 11.50278293135436, "x": 58.77551020408164, "time": 1469802325157}, "letter": "y"}, {"down": {"y": 37.291280148423006, "x": 8.16326530612245, "time": 1469802325208}, "up": {"y": 37.291280148423006, "x": 8.16326530612245, "time": 1469802325290}, "letter": "a"}, {"down": {"y": 56.77179962894249, "x": 66.83673469387756, "time": 1469802325342}, "up": {"y": 56.77179962894249, "x": 66.83673469387756, "time": 1469802325407}, "letter": "n"}, {"down": {"y": 86.08534322820037, "x": 85, "time": 1469802325591}, "up": {"y": 86.08534322820037, "x": 85, "time": 1469802325674}, "letter": "return"}], "id": "1", "text": "beh min yan"}'

In [11]:
with open("test.txt", "w") as writefile:
    writefile.write(string)